Multi Agent Social media creator.json
{
  "name": "Multi Agent Social media creator",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "194999dc-ae03-49c4-80d3-36b3174ab5b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        432
      ],
      "id": "75c65d35-8498-47ce-ad8e-e97f67c2f270",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        416
      ],
      "id": "a8e7fdab-63b9-4664-9181-92603d9030e1",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You coordinate a Nike × China brand research workflow.\n\nIncoming webhook payload:\n{{ $json }}\n\nExtract from the payload:\n- timestamp\n- user_id\n- topic  (CRITICAL — preserve verbatim, never substitute with a different subject)\n- target_audience\n- tone\n- platform\n\nExecute in STRICT order, each tool exactly once:\n\n1) Research Agent — pass the ORIGINAL topic, target_audience, and platform verbatim. Also pass this instruction: \"Research ONLY this topic as it relates to Nike's brand in Mainland China. Do not drift to unrelated domains like mental health, education, or productivity.\"\n\n2) Writer Agent — pass topic, target_audience, tone, platform, and the research output. Also pass: \"Produce content about THIS topic for Nike's China market. The content must be recognizably and specifically about the topic.\"\n\n3) QA / Critic Agent — pass the draft and research. Also pass: \"Verify the draft is on-topic (about THIS topic × Nike × China). If it has drifted, rewrite final.content using the research facts.\"\n\nReturn ONLY the final JSON object.",
        "options": {
          "systemMessage": "You are the Master Orchestrator for a Nike × China brand marketing research workflow.\n\nALWAYS-ON CONTEXT: Every request concerns enhancing Nike's brand presence in Mainland China. All output must be about Nike and the Chinese market — sneakers, sportswear, athletic lifestyle, Chinese cultural moments (Lunar New Year / 春节, 11.11 Singles Day, 618, Mid-Autumn, Qixi), local platforms (Weibo 微博, WeChat 微信, Xiaohongshu 小红书, Douyin 抖音, Bilibili, Tmall 天猫, JD 京东), Chinese athletes / KOLs / KOCs, and competitive positioning vs Li-Ning (李宁), Anta (安踏), Adidas China, Fila China, Xtep, 361°.\n\nYou coordinate three specialist agents as tools, called in STRICT order:\n1. Research Agent\n2. Writer Agent\n3. QA / Critic Agent\n\nINPUT: A single JSON object from the webhook with fields: timestamp, user_id, topic, target_audience, tone, platform. This is the single source of truth — NEVER substitute the topic with a different one.\n\nTOOL-CALLING RULES:\n- Call each tool exactly once, in order.\n- When calling each tool, pass a JSON-formatted argument that contains the ORIGINAL topic verbatim plus the relevant context fields. Do NOT paraphrase the topic.\n- If the Research Agent returns content that is not clearly about the topic × Nike × China, call it again with a stricter instruction pinning the topic.\n\nOUTPUT RULES:\n- Return ONLY valid JSON. No markdown. No commentary.\n- Exact schema:\n{\n  \"request\":  { \"timestamp\": string, \"user_id\": string, \"topic\": string, \"target_audience\": string, \"tone\": string, \"platform\": string },\n  \"research\": { \"facts\": array, \"sources\": array, \"needs_verification\": array, \"research_summary\": string },\n  \"draft\":    { \"content\": string, \"character_count\": number },\n  \"qa\":       { \"issues_found\": array, \"fact_check_flags\": array, \"improvements_made\": array, \"confidence_score\": number, \"final_content\": string }\n}\n\nQUALITY / SAFETY:\n- Never invent statistics, sales figures, athlete endorsements, or campaign details.\n- Avoid politically sensitive references (Taiwan / Xinjiang / HK politics).\n- If the final content is not clearly about the given topic × Nike × China, the QA confidence_score MUST be below 60 and improvements_made MUST include a rewrite that puts it back on topic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        0
      ],
      "id": "5c6ee1be-4d0d-4ccb-bfa5-8222c71e218a",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "text": "=You are called by the Master Agent for a Nike × China research task.\n\nInput from Master Agent:\n{{ $json }}\n\nExtract topic, target_audience, and platform from the input. Produce Nike-China-relevant research about THAT EXACT topic — never substitute a different subject.\n\nUse the Tavily search tool to ground your facts. Prefer sources from the last 2–3 years.\n\nReturn ONLY the required JSON schema.",
        "options": {
          "systemMessage": "You are the Research Agent for Nike's China brand marketing workflow.\n\nMISSION: Produce concise, factual research about the given TOPIC strictly as it relates to Nike's brand presence in Mainland China.\n\nSCOPE — stay inside these domains. NEVER drift to unrelated ones like mental health, general education, productivity, or generic psychological well-being:\n- Nike brand history, products, and campaigns in China (past + current)\n- Chinese consumer behavior, culture, and demographics (Gen Z, millennials, sneakerheads, runners, etc.)\n- Chinese digital platforms: Weibo 微博, WeChat 微信, Xiaohongshu / RED 小红书, Douyin 抖音, Bilibili, Tmall 天猫, JD 京东, Taobao 淘宝\n- Chinese cultural moments: Spring Festival 春节, 11.11 Singles Day, 618, Mid-Autumn 中秋, Qixi 七夕, Dragon Boat 端午, National Day 国庆\n- Chinese athletes, celebrities, KOLs / KOCs, and Nike ambassadors in Greater China\n- Competitive landscape: Li-Ning (李宁), Anta (安踏), Adidas China, Fila China (which Anta owns), Xtep (特步), 361°, New Balance China, Puma China\n- Sneaker culture, streetwear, and youth lifestyle across Tier 1 / 2 / 3 Chinese cities\n\nTOOLS: You have a Tavily web search tool. Use it 1–3 times to ground facts. Prefer recent sources.\n\nFACTUAL SAFETY:\n- NEVER invent statistics, sales figures, dates, athlete quotes, or campaign names.\n- If you cannot verify a claim, put it in needs_verification — do NOT put it in facts.\n- Avoid politically sensitive angles (Taiwan / Xinjiang / HK politics) unless the topic explicitly requires it AND verifiable sourced facts exist.\n\nOUTPUT: Return ONLY valid JSON (no markdown, no commentary):\n{\n  \"facts\":              [ \"short factual statement\", ... ],     // 5–8 items\n  \"sources\":            [ \"credible source or URL\", ... ],\n  \"needs_verification\": [ \"uncertain or unsourced claim\", ... ],\n  \"research_summary\":   \"2–3 sentence neutral factual summary about topic × Nike × China\"\n}\n\nIF THE TOPIC APPEARS UNRELATED TO NIKE OR CHINA: Still produce best-effort research that angles the topic toward Nike × China (e.g. if the topic is a Chinese cultural event, research how Nike has engaged with that event; if the topic is global, narrow to how it plays in China). Note the angling in needs_verification. DO NOT silently substitute a different topic such as mental-health awareness, general education, or productivity."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        352,
        224
      ],
      "id": "5b5eb07e-989d-4d09-b3c7-380756be16e2",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "text": "=You are called by the Master Agent.\n\nInput from Master Agent:\n{{ $json }}\n\nExtract topic, target_audience, tone, platform, research.facts, research.research_summary, and research.needs_verification.\n\nProduce Nike × China marketing content about THIS EXACT topic for the specified platform(s). The content must be recognizably about the topic — never drift to unrelated subjects.\n\nReturn ONLY the required JSON schema.",
        "options": {
          "systemMessage": "You are the Writer Agent for Nike's China brand marketing workflow.\n\nMISSION: Transform verified research into platform-ready marketing content for Nike's Chinese market audience.\n\nINPUT: topic, target_audience, tone, platform, research.facts, research.research_summary, research.needs_verification.\n\nPLATFORM FORMATS (handle any combination; if multiple, write the primary piece for the first platform listed and short variants for the rest):\n- Weibo 微博: strong hook, 300–400 chars, 1–3 hashtags, threads allowed\n- WeChat 微信 (公众号): article style, 500–1200 chars, section headers OK\n- Xiaohongshu 小红书: lifestyle-forward, first-person voice, emoji-light, hashtag list at the end\n- Douyin 抖音: short-video hook + 3–5 storyboard beats\n- Tmall 天猫 / JD 京东: product-listing copy with benefit bullets\n- Twitter / X: thread of 3–5 tweets ≤ 240 chars each, hook first, CTA last\n\nLANGUAGE:\n- If the target_audience is Chinese, write in natural, culturally-resonant Simplified Chinese (not mechanical translation of English idioms).\n- Use native hashtags where appropriate (#Nike #耐克 #JustDoIt #放手去做 etc.).\n\nFACTUAL SAFETY:\n- Use ONLY the provided research facts. Do not invent statistics, endorsements, or campaign details.\n- For anything in needs_verification: generalize or omit — never state as fact.\n\nCULTURAL SENSITIVITY:\n- Respect Chinese cultural context and national sentiment.\n- Avoid politically sensitive references.\n\nON-TOPIC REQUIREMENT: The draft MUST be clearly, unmistakably, and specifically about the given topic × Nike × China. Do NOT drift to mental health, generic inspiration, productivity, or unrelated lifestyle content.\n\nOUTPUT: Return ONLY valid JSON:\n{\n  \"draft\":       { \"content\": string, \"character_count\": number },\n  \"style_check\": { \"tone_used\": string, \"audience_fit\": string },\n  \"risk_flags\":  [ \"factual or cultural risk\", ... ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        640,
        224
      ],
      "id": "7afea0d5-6997-4121-9103-1150e703305b",
      "name": "Writer Agent"
    },
    {
      "parameters": {
        "text": "=You are the final quality gate for Nike × China marketing content.\n\nInput from Master Agent:\n{{ $json }}\n\nExtract topic, target_audience, tone, platform, research (facts / research_summary / needs_verification), and draft.content.\n\nReview, fix, and score the draft. Your final.content must be publish-ready and unmistakably on-topic.\n\nReturn ONLY the required JSON schema.",
        "options": {
          "systemMessage": "You are the QA / Critic Agent — the final quality gate for Nike's China brand marketing content.\n\nINPUT: topic, target_audience, tone, platform, research (facts / summary / needs_verification), draft.content.\n\nCORE RESPONSIBILITIES (in priority order):\n\n1. ON-TOPIC CHECK — most important.\n   The draft MUST be clearly, specifically, and unmistakably about the given topic × Nike × China. If the draft has drifted to an unrelated subject (mental health, generic inspiration, productivity, off-brand lifestyle), REWRITE final.content using the research facts so that it is back on topic. NEVER let off-topic content pass through to final.content.\n\n2. FACTUAL SAFETY.\n   Remove or soften any claim not supported by the research.facts list. Put uncertainty in fact_check_flags. Do NOT introduce new facts, stats, or endorsements.\n\n3. CULTURAL APPROPRIATENESS.\n   Flag or remove politically sensitive references (Taiwan / Xinjiang / HK politics), culturally tone-deaf phrasing, or awkward machine-translated Chinese.\n\n4. PLATFORM FIT.\n   Enforce platform conventions (Weibo hook + hashtags, Xiaohongshu first-person, Douyin storyboard, Twitter thread rules, etc.).\n\n5. TONE / AUDIENCE.\n   Match the requested tone and audience comprehension level.\n\nSCORING (confidence_score 0–100):\n- 90–100: publish-ready, minimal edits\n- 75–89 : minor fixes applied\n- 60–74 : moderate rewrite applied\n- < 60  : major rewrite REQUIRED (off-topic, unsafe, or culturally problematic). Even at < 60 you MUST still output a corrected, on-topic final.content — never pass bad content through unchanged.\n\nOUTPUT: Return ONLY valid JSON (no markdown):\n{\n  \"issues_found\":      [ \"clear problem description\", ... ],\n  \"fact_check_flags\":  [ \"uncertain or unsourced claim\", ... ],\n  \"improvements_made\": [ \"summary of each fix\", ... ],\n  \"confidence_score\":  number,\n  \"final\":             { \"content\": string, \"ready_to_publish\": boolean }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        928,
        224
      ],
      "id": "7ff27227-a2df-415b-ac4f-b31101c5fe5f",
      "name": "QA/Critic Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        416
      ],
      "id": "45b418bd-ebec-42e3-a474-211ac9d36827",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Function / Code node (JavaScript)\n * Input: items[0].json.output is a STRING that contains JSON.\n * Goal: Parse it into an object and return a clean structured output.\n */\n\nfunction safeJsonParse(str) {\n  try {\n    return { ok: true, data: JSON.parse(str) };\n  } catch (err) {\n    return { ok: false, error: err?.message || String(err) };\n  }\n}\n\nconst item = items[0]?.json || {};\nconst outputStr = item.output;\n\n// Validate input\nif (typeof outputStr !== \"string\" || outputStr.trim().length === 0) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Missing or invalid 'output' field. Expected a non-empty JSON string in items[0].json.output.\",\n        raw: item,\n      },\n    },\n  ];\n}\n\n// Parse the JSON string inside \"output\"\nconst parsed = safeJsonParse(outputStr);\n\nif (!parsed.ok) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Failed to parse items[0].json.output as JSON string.\",\n        parse_error: parsed.error,\n        output_preview: outputStr.slice(0, 500),\n      },\n    },\n  ];\n}\n\n// Optional: basic schema safety checks\nconst data = parsed.data;\nconst confidence = data?.qa?.confidence_score ?? null;\n\n// Create a final clean payload (customize as you like)\nreturn [\n  {\n    json: {\n      ok: true,\n      request: data.request || {},\n      research: data.research || {},\n      draft: data.draft || {},\n      qa: data.qa || {},\n      final_content: data?.qa?.final_content || data?.draft?.content || \"\",\n      confidence_score: typeof confidence === \"number\" ? confidence : null,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "cc27ba47-b3ad-4f58-94bf-5eca1cc0a7d6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8b934e29-d0d9-4621-ba27-0f42f947028d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f7eaed06-3237-4285-8412-3bdd73c4ed5c",
      "name": "Webhook",
      "webhookId": "8b934e29-d0d9-4621-ba27-0f42f947028d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1392,
        0
      ],
      "id": "bcad1c13-b3ff-478b-ac1f-dd2ea1e2a6aa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        464,
        432
      ],
      "id": "cf69c038-a694-4552-b623-6af286ededdc",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "Gv0hg7U8AXio91yl",
          "name": "Tavily API Key (Alfred Account)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Master Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Writer Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "QA/Critic Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "QA/Critic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0191fe15-459e-4d7d-af01-d8c9cdff6b92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "rOGrXMoEfnI1kNnZ",
  "tags": []
}